{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container">
    <!-- Section pour l'inscription -->
    <section id="inscription">
        <h2 class="text-center my-4">Remplir les informations</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                {{ form_start(registrationForm) }}
                    <div class="form-group">
                        <label for="nom">Nom :</label>
                        {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre nom'}}) }}
                        {{ form_errors(registrationForm.nom) }}
                    </div>
                    <div class="form-group">
                        <label for="prenom">Prénom :</label>
                        {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre prénom'}}) }}
                        {{ form_errors(registrationForm.prenom) }}
                    </div>
                    <div class="form-group">
                        <label for="email">Adresse email :</label>
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre email'}}) }}
                        {{ form_errors(registrationForm.email) }}
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe :</label>
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre mot de passe'}}) }}
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirmez le mot de passe :</label>
                        {{ form_widget(registrationForm.confirmPassword, {'attr': {'class': 'form-control', 'placeholder': 'Confirmez votre mot de passe'}}) }}
                        {{ form_errors(registrationForm.confirmPassword) }}
                    </div>
                    <div class="form-group">
                        <label for="adresse">Adresse :</label>
                        {{ form_widget(registrationForm.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre adresse'}}) }}
                        {{ form_errors(registrationForm.adresse) }}
                    </div>
                    <div class="form-group">
                        <label for="ville">Ville :</label>
                        {{ form_widget(registrationForm.ville, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre ville'}}) }}
                        {{ form_errors(registrationForm.ville) }}
                    </div>
                    <div class="form-group">
                        <label for="pays">Pays :</label>
                        {{ form_widget(registrationForm.pays, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre pays'}}) }}
                        {{ form_errors(registrationForm.pays) }}
                    </div>
                    <div class="form-group form-check">
                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                        <label class="form-check-label" for="registrationForm_agreeTerms">J'accepte les conditions d'utilisation</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Valider</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
</div>
{% endblock %}

